.container {
    display: flex;
    flex: 1 !important;
    margin: 0 auto !important;
    justify-content: center !important;
    width: 80%;

}

.col1 {
    flex: 0.9;
}

.col2 {
    margin-top: 15px;
    flex: 0.1;
    z-index: 9;
    width:100%;
}

