.book {
  position: relative;
  width: 200px;
  margin: 15px;
  overflow: visible !important;

  .price {
    position: absolute;
    top: -10px;
    left: -5px;
    border-radius: 3px;
    background-color: #f50057;
    color: #ffff;
    padding: 3px;
  }

  .title {
    text-align: center;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
    overflow: hidden;
    padding-top: 15px;
  }

  .imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .image {
      position: relative;
      width: 100%;
      max-height: 270px;
    }

  }

  .author {
    text-align: center;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;

  }

  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }

  .button button {
    width: 100%;
    z-index: 100;
  }
}












